<div class="media">
  <div class="media-body">
    <h5>@<%= comment.user.username %> <small><i>Posted on <%= comment.created_at %></i></small></h5>
    <p>
      <%= comment.body %>
    </p>
  </div>
</div>
